#page-contents {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
	padding: 50px 20%;
	z-index: 5;
}

.panel {
	font-family: "Tektur", sans-serif;
	padding: 25px;
	height: 100%;
	transform: skew(-2deg);
	-webkit-transform: skew(-2deg);
	-moz-transform: skew(-2deg);
}

.panel-border {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #3c158a;
	border-radius: 15px;
	outline: 2px solid #3c158a;
	outline-offset: 20px;
	box-shadow: 0 0 0 20px #5f49ba50;
	clip-path: polygon(-25px -25px, 30% -25px, 30% 5px, 90% 5px, 90% -25px, 110% -25px, 110% 110%, -25px 110%);
}

.panel-content {
	transform: skew(2deg);
	-webkit-transform: skew(2deg);
	-moz-transform: skew(2deg);
	padding: 3% 2%;
	height: 100%;

	.panel-page {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
		animation: slideOut 0.5s;
	}

	.selected {
		visibility: visible;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		animation: slideIn 0.5s;
	}
}

@keyframes slideOut {
	0% {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
	}
	100% {
		transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	}
}

.nav-link {
	color: yellow;
	text-decoration: underline;
}

.nav-link:hover {
	cursor: pointer;
}

.page-title {
	overflow: visible;
	position: absolute;
	top: -12.5px;
	left: 60%;
	width: 60%;
	font-size: 28pt;
	font-weight: 600;
	color: #5f49ba90;
	-webkit-text-stroke: 1px #3c158a;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);

	div {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -22px;
		left: 0;
		transform: scaleX(0);
		-webkit-transform: scaleX(0);
		-moz-transform: scaleX(0);
	}
	div.selected{
		transform: scaleX(1);
		-webkit-transform: scaleX(1);
		-moz-transform: scaleX(1);
		animation: grow 0.5s;
	}
}

@keyframes grow {
	0% {
		transform: scaleX(0);
		-webkit-transform: scaleX(0);
		-moz-transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
		-webkit-transform: scaleX(1);
		-moz-transform: scaleX(1);
	}
}

.scrollable-container {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	scrollbar-color: #3c158a transparent;
}

.full-screen-container {
	height: 100%;
}

.v-box-container {
	width: 100%;
	padding: 15px 25px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	gap: 20px;
	
	> * {
		flex-grow: 1;
	}
}

.fancy-button {
	text-align: center;
	display: block;
	font-size: 24pt;
	font-family: "Tektur", sans-serif;
	font-weight: 300;
	text-decoration: none;
	width: 100%;
	margin-top: 25px;
	background-color: transparent;
	border: 1px solid #FFFF00;
	outline: 1px solid #FFFF00;
	outline-offset: 15px;
	box-shadow: 0 0 0 15px #FFFF0050;
	border-radius: 999px 200px 200px 999px;
	color: white;
	animation: pulse 1.5s infinite linear;
}

.fancy-button:hover {
	background-color: yellow;
	color: black;
	font-weight: 600;
	cursor: pointer;
	animation: pulse 0.5s infinite linear;
}

.fancy-button:active {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

@keyframes pulse {
	0% {
		outline-offset: 0px;
		outline-color: #FFFF00;
		box-shadow: 0 0 0 0px #FFFF00;
	}
	75% {
		outline-color: #FFFF00;
		box-shadow: 0 0 0 15px #FFFF0000;
	}
	100% {
		outline-offset: 15px;
		outline-color: #FFFF0000;
		box-shadow: 0 0 0 15px #FFFF0000;
	}
}

@media only screen and (max-width: 1250px) {
	.page-title {
		font-size: 16pt;

		div {
			top: -10px
		}
	}
}

@media only screen and (max-width: 750px) {
	.page-title {
		font-size: 14pt;
	}

	.fancy-button {
		font-size: 12pt;
	}
	#page-contents {
		padding-left: 25px;
		padding-right: 25px;
	}

	.job-title,.edu-title {
		font-size: 16pt !important;
	}

	.v-box-container {
		padding: 15px 0px !important;
	}

	.game {
		padding: 5px !important;
	}
	
	.link {
		font-size: 12pt !important;
	}
}

.breadcrumb:hover {
	cursor: pointer;
}

.game {
	display: flex;
	text-align: left;
	padding: 25px;
	border-radius: 25px;

	gap: 10px;

	.game-data {
		padding: 20px;
	}

	.game-title {
		font-size: 28pt;
		font-weight: 400;
	}

	.game-image {
		margin: 22px;
		margin-left: 25px;
		border: 2px solid #3c158a;
		border-radius: 15px;
		outline: 2px solid #3c158a;
		outline-offset: 20px;
		box-shadow: 0 0 0 20px #5f49ba50;
		width: 126px;
		height: 100px;
	}

	@media only screen and (min-width: 1000px) {
		.game-image {
			float: right;
		}
	}

	.game-image.rot-pos {
		transform: perspective(800px) rotate3d(0, 1, 0, 15deg);
	}

	.game-image.rot-neg {
		transform: perspective(800px) rotate3d(0, 1, 0, -15deg);
	}

	.game-information {
		font-size: 14pt;

		a {
			color: yellow;
		}
	}
}

.work {
	padding: 25px;
	text-align: left;

	.job-title {
		font-size: 28pt;
		font-weight: 400;
	}
}

.wip {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #5f49ba50;
	font-size: 128pt;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.invisible {
	visibility: hidden;
}

.edu-item {
	text-align: left;

	margin-bottom: 50px;

	.edu-title {
		font-size: 28pt;
		font-weight: 400;
	}

	.edu-subtitle {
		font-size: 14pt;
	}

}

.link {
	font-size: 20pt;
	text-decoration: none;
	color: yellow;
	flex-grow: 1;
}

.phone {
	font-size: 20pt;
}

.skills-flex-box {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
}

.skillset-title {
	font-size: 16pt;
	font-weight: 600;
}

.skill-table {
	border-radius: 15px;
	margin-top: 15px;
	font-size: 14pt;

	th,td {
		border: 1px solid yellow;
		padding: 10px;
	}

	tr:first-child > th:first-child {
		border-top-left-radius: 15px;
	}
	tr:first-child > th:last-child {
		border-top-right-radius: 15px;
	}
	tr:last-child > td:first-child {
		border-bottom-left-radius: 15px;
	}
	tr:last-child > td:last-child {
		border-bottom-right-radius: 15px;
	}
}

.contact-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}